* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  overflow-x: none;
  scroll-behavior: smooth;
  transition: ease-in 0.5s;
}

body {
  width: 100%;
  background-image: url("./images/code-back.png");
  -webkit-font-smoothing: antialiased;
  color: rgb(245, 245, 245);
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*hero*/
.autherQuote {
  color: #fb0094;
}

.hero-container {
  margin-top: 200px;
  width: 80%;
  max-width: 1800px;
  margin-bottom: 230px;
  display: flex;
  justify-content: center;
}

.hero-Tcon {
  padding-right: 50px;
}
/* ===========================error causing======================================*/
.hero-text {
  padding-top: 30px;
  width: 50%;
}

#hero-hp {
  max-width: 600px;
  margin-top: 20px;
  font-size: 20px;
  font-style: italic;
}

#hero-h {
  font-size: 70px;
  width: 320px;
  background: linear-gradient(55deg, #293eff, #ff2323, #ff00f2, #293eff);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: anima 20s linear infinite;
}

@keyframes anima {
  0% {
    background-position: 20%;
  }
  100% {
    background-position: 400%;
  }
}

#hero-hn,
#hero-hn2 {
  font-size: 70px;
}

.hero-Tbutton {
  margin-top: 30px;
  width: 100%;
}

.hero-Tbutton a {
  text-decoration: none;
}

.hero-Tbutton .button {
  width: 250px;
  height: 60px;
  border-radius: 100px;
  background: linear-gradient(45deg, #2382ff, #ff0000);
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.button p {
  color: #fff;
  font-size: 20px;
  line-height: 2.9;
  margin-left: 50px;
}
.button button {
  cursor: pointer;
  font-size: 20px;
  color: #ff0000;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  align-items: center;
  padding-top: 4px;
  border: none;
}

.hero-image {
  display: flex;
}

.hero-imageCon {
  width: 450px;
  height: 650px;
  border-radius: 30px;
}

.hero-imageCon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.hero-imageCon::before {
  content: "";
  height: 610px;
  width: 400px;
  background-size: 400%;
  position: absolute;
  background: linear-gradient(45deg, #fb0094, #0000ff);
  z-index: -1;
  filter: blur(40px);
  transform: rotate(-10deg);
}

@media screen and (max-width: 1200px) {
  .hero-container {
    padding-bottom: 150px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
  }
  #hero-hn,
  #hero-hn2 {
    font-size: 40px;
  }

  .hero-imageCon {
    width: 300px;
    height: 500px;
    border-radius: 30px;
  }
  .hero-imageCon::before {
    height: 500px;
    width: 300px;
    background-size: 200%;
  }

  @media screen and (max-width: 1000px) {
    .hero-container {
      margin-top: 160px;
    }
    @media screen and (max-width: 900px) {
      .hero-container {
        margin-top: 150px;
        width: 85%;
      }
      .hero-imageCon {
        width: 100%;
        height: 400px;
        border-radius: 30px;
      }
      .hero-imageCon::before {
        content: "";
        height: 450px;
        width: 200px;
        background-size: 100%;
      }

      @media screen and (max-width: 750px) {
        .hero-container {
          margin-top: 0px;
          width: 80%;
          padding-bottom: 200px;
          display: flex;
          margin-bottom: 100px;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
        }

        .hero-imageCon img {
          width: 100%;
          height: 100%;
          object-fit: fill;
          border-radius: 30px;
        }

        .hero-imageCon::before {
          content: "";
          height: 420px;
          width: 250px;
          background-size: 100%;
        }
        .hero-Tbutton {
          margin-top: 60px;
          margin-bottom: 60px;
          width: 100%;
        }

        .hero-container {
          padding-top: 50px;
        }

        .hero-text {
          padding-top: 30px;
          width: 100%;
        }

        @media screen and (max-width: 380px) {
          #hero-h {
            font-size: 45px;
            width: 100%;
          }

          #hero-hn,
          #hero-hn2 {
            font-size: 25px;
          }

          #hero-hp {
            font-weight: 100;
          }

          .hero-imageCon::before {
            height: 400px;
            width: 230px;
            background-size: 100%;
          }
          .hero-Tbutton .button {
            width: 220px;
            height: 60px;
          }
          .hero-imageCon::before {
            content: "";
            height: 420px;
            width: 200px;
            background-size: 100%;
            transform: rotate(-5deg);
          }
        }
      }
    }
  }
}

/*about section///////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////*/
.abount-me {
  width: 60%;
  max-width: 1800px;
  padding: 1%;
  display: flex;
  border-radius: 20px;
  background-color: #361b1b17;
  backdrop-filter: blur(5px);
  border: solid 1px #464646;
}

@media screen and (max-width: 1500px) {
  .abount-me {
    width: 90%;
  }
}

.about-box {
  padding: 1%;
  width: 49%;
}

.about-tile {
  width: 80%;
  margin-bottom: 20px;
}

.about-tile h1 {
  font-size: 70px;
  color: white;
}

.about-image {
  width: 100%;
}

.about-image img {
  width: 80%;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0px 0.5px 30px 2px #1a1a1a81;
}

.about-title-subtitle {
  padding-top: 50px;
  width: 250px;
  border-bottom: solid 1px #838383;
  margin-bottom: 20px;
}

.about-title-subtitle h2 {
  font-size: 50px;
  font-weight: 500;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  background-image: linear-gradient(
    90deg,
    #bd10c3,
    #cd1590 28%,
    #d2177e 56%,
    hsl(0, 67%, 80%)
  );
}

.about-about {
  background-color: #1f1f1f;
  padding: 20px;
  width: 90%;
  border-radius: 20px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.about-about p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #bbbbbb;
  text-shadow: 1px 2px 10px #000;
}

.about-links {
  width: 100%;
}

.about-links-title {
  margin-bottom: 20px;
}

.about-links-title h1 {
  font-size: 20px;
  font-weight: 500;
}

.about-links-con {
  width: 100%;
  margin-bottom: 20px;
}

.about-links-con ul {
  display: flex;
}

.about-links-con ul li {
  list-style: none;
  margin-right: 20px;
}

.about-links-con a {
  font-size: 30px;
  color: white;
}

.about-links-con a:hover {
  width: 320px;
  color: #ff2323;
}

.my-remue {
  width: 200px;
}

.my-remue a {
  color: white;
  text-decoration: none;
}

.resume-btn {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-image: linear-gradient(
    90deg,
    #bd10c3,
    #cd1590 28%,
    #d2177e 56%,
    hsl(0, 67%, 80%)
  );
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}

.reume-btn-title {
  width: 150px;
  text-align: center;
}
.reume-btn-title h1 {
  font-size: 25px;
  font-weight: 400;
}
.resume-btn-icon {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  color: #ff0000;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .about-title-subtitle {
    padding-top: 10px;
  }
  @media screen and (max-width: 950px) {
    .about-image img {
      width: 100%;
    }
    .about-tile {
      width: 90%;
      margin-bottom: 20px;
    }
    @media screen and (max-width: 888px) {
      .abount-me {
        width: 80%;
        padding: 1%;
        flex-direction: column;
      }
      .about-box {
        width: 100%;
      }
      .about-image img {
        width: 60%;
      }
      .about-about {
        max-width: 900px;
      }

      @media screen and (max-width: 630px) {
        .about-about {
          max-width: 600px;
        }
        @media screen and (max-width: 500px) {
          .abount-me {
            width: 95%;
          }
          @media screen and (max-width: 414px) {
            .about-tile h1 {
              font-size: 40px;
              color: white;
            }
            .about-title-subtitle h2 {
              font-size: 30px;
              font-weight: 500;
            }
            .about-about p {
              font-size: 15px;
            }
            .about-about {
              padding: 10px;
              border-radius: 20px;
              max-width: 400px;
            }
          }
        }
      }
    }
  }
}

/*Skills section///////////////////////////////////////////////////*/

.skills-con {
  width: 100%;
  max-width: 1800px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
  margin-bottom: 200px;
}

.skill-rank {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skill-title {
  display: flex;
  text-align: center;
}

.skill-title h1 {
  font-size: 50px;
  margin-left: 20px;
}

.skill-subtle {
  width: 100%;
  text-align: center;
}

.skill-list {
  width: 78%;
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.skill {
  width: 400px;
  min-height: 400px;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 20px;
  overflow: hidden;
}

.skill:hover {
  cursor: pointer;
  filter: blur(0px);
  transition: 0.5s;
  transform: translateY(-15px);
}

.skill-top {
  width: 100%;
  height: 5px;
  background: linear-gradient(45deg, #ff0000, #0000ff);
}
.skillcenter {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 80%;
}
.skillcenter-T {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skillcenter-T img {
  width: 70px;
}

.skillcenter-B {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.skillcenter-B div {
  margin-top: 20px;
}

@media screen and (max-width: 1368px) {
  .skill-list {
    width: 90%;
  }
  @media screen and (max-width: 1211px) {
    .skill-list {
      width: 95%;
    }
    @media screen and (max-width: 1100px) {
      .skill-list {
        width: 100%;
      }
      @media screen and (max-width: 999px) {
        .skill-list {
          width: 90%;
          flex-direction: column;
          align-items: center;
        }
        .skill {
          margin-bottom: 50px;
          width: 400px;
          height: 400px;
        }

        @media screen and (max-width: 500px) {
          .skill {
            width: 100%;
          }

          .skill-list {
            width: 95%;
          }
          @media screen and (max-width: 300px) {
            .skill-title {
              flex-direction: column;
            }
            .skill-title h1 {
              margin-left: 0px;
            }
            .skill-list {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

/*projects/////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////*/

#projects {
  background-color: #f2f2f2;
}

.projects-con {
  width: 80%;
  max-width: 1400px;
  padding-top: 150px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

@media screen and (max-width: 900px) {
  .projects-con {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
  }
}

.projects-row,
.projects-row2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding: 1%;
}

.projects-row2 {
  padding-top: 110px;
}

.projects-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.projects-title div {
  display: flex;
  margin-bottom: 30px;
}
.projects-title div h1 {
  font-size: 64px;
  margin-right: 10px;
}

@media screen and (max-width: 1220px) {
  .projects-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .projects-title div {
    display: flex;
    flex-direction: column;
  }
  @media screen and (max-width: 900px) {
    .projects-row2 {
      padding-top: 0px;
    }
    .projects-row,
    .projects-row2 {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 90%;
      padding: 1%;
    }

    .projects-title div {
      flex-direction: row;
    }

    @media screen and (max-width: 550px) {
      .projects-title div {
        flex-direction: column;
      }
    }
  }
}

.project-tiGradiant {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#bd10c3),
    color-stop(28%, #cd1590),
    color-stop(56%, #d2177e),
    to(#ec8686)
  );
  background-image: linear-gradient(
    90deg,
    #bd10c3,
    #cd1590 28%,
    #d2177e 56%,
    #ec8686
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.projects-title p {
  font-size: 18px;
}

.project {
  display: block;
  max-width: 450px;
  margin-bottom: 60px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  color: #000;
  transition: 0.5s;
  border-radius: 20px;
}

.project:hover {
  transform: translateY(-20px);
  transition: 0.5s;
}

.project-img {
  width: 100%;
  height: 300px;
}

.project-img img {
  width: 100%;
  height: 280px;
  border-radius: 10px;
  object-fit: cover;
}

.project-name,
.project-details,
.project-status,
.project-go {
  margin-top: 10px;
  margin-bottom: 20px;
}

.project-name h1 {
  font-size: 32px;
  color: #000;
}

.project-subt {
  font-weight: 400;
  margin-bottom: 10px;
}

.project-details p {
  color: #747474;
}

.go-button {
  display: flex;
  justify-content: space-between;
}

.go-button a {
  color: white;
  height: 27px;
  width: 32px;
  text-align: center;
  padding-top: 5px;
  border-radius: 50px;
  margin-left: 10px;
  background: linear-gradient(
    90deg,
    #bd10c3,
    #cd1590 28%,
    #d2177e 56%,
    hsl(0, 67%, 80%)
  );
}

.go-button h1 {
  color: #747474;
  font-size: 18px;
  margin-top: 5px;
  font-weight: 400;
}

.btn-main {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.btn-main a {
  text-decoration: none;
}

.btn-buttonp {
  width: 300px;
  height: 60px;
  border-radius: 100px;
  background: linear-gradient(45deg, #2382ff, #ff0000);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
}

.btn-buttonp p {
  font-size: 20px;
  margin-left: 50px;
  color: white;
}

.btn-buttonp button a {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

.btn-buttonp button {
  cursor: pointer;
  font-size: 20px;
  color: #ff0000;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  align-items: center;
  padding-top: 4px;
  border: none;
}

@media screen and (max-width: 335px) {
  .btn-buttonp {
    width: 250px;
  }
  .btn-buttonp p {
    font-size: 16px;
    line-height: 2.9;
    margin-left: 50px;
    color: white;
  }
}

/*blog///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////*/

.blog-container {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1280px) {
}

.blogs-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bheader-title {
  font-size: 34px;
  display: flex;
}

.bheader-subtitle {
  width: 100%;
  text-align: center;
  color: #b3b3b3;
  padding-top: 10px;
}

.bheader-subtitle p {
  font-size: 20px;
}

.blog-posts {
  margin-top: 50px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}

.main-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 633px;
  margin-right: 10px;
  background-color: white;
  overflow: hidden;
  border-radius: 20px;
}

.blog-img {
  height: 400px;
  width: 100%;
}

.blog-img img {
  width: 100%;
  object-fit: cover;
  height: 400px;
}

.main-post-details {
  width: 90%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.blog-category ul {
  display: flex;
  padding-left: 20px;
  padding-bottom: 10px;
}

.blog-category ul li {
  list-style: circle;
  padding: 2px;
  margin-right: 40px;
  color: #838383;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.blog-title a {
  text-decoration: none;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgb(0, 0, 0);
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.recent-posts {
  flex-direction: column;
  width: 49.5%;
  padding-left: 0.5%;
  display: flex;
}

.recent-post {
  margin-bottom: 30px;
  display: flex;
  background-color: #ffffff;
  margin-left: 0px;
  width: 100%;
  height: 190px;
  border-radius: 20px;
  overflow: hidden;
}

.recent-blog-img {
  display: flex;
  width: 230px;
  height: 150px;
}

.recent-blog-img img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.recent-post-details {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.recent-blog-category {
  padding-bottom: 10px;
}

.recent-blog-category ul {
  display: flex;
  padding-left: 50px;
}

.recent-blog-category ul li {
  list-style: circle;
  padding: 2px;
  margin-right: 40px;
  color: #838383;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.recent-blog-title {
  display: flex;
  padding-left: 30px;
  justify-content: space-between;
  height: 90px;
  overflow-y: hidden;
}
.heading-blog4 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
}

.recent-read-post {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.recent-read-button {
  background: linear-gradient(
    90deg,
    #bd10c3,
    #cd1590 28%,
    #d2177e 56%,
    hsl(0, 67%, 80%)
  );
  width: 33px;
  height: 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  transition: 0.5s;
}

.recent-read-button:hover {
  transform: rotate(-40deg);
  transition: 0.5s;
  color: #ffffff;
}

.recent-read-button a {
  color: white;
}

@media screen and (max-width: 1100px) {
  .recent-blog-category ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 850px) {
  .blog-posts {
    flex-direction: column;
  }

  .recent-posts {
    margin-top: 30px;
    width: 100%;
  }

  .main-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 633px;
    margin-right: 0px;
    background-color: white;
  }
  .recent-post-details {
    width: 500px;
  }
  .recent-blog-img {
    display: block;
  }
  @media screen and (max-width: 650px) {
    .bheader-title {
      font-size: 34px;
      width: 90%;
      display: flex;
      flex-direction: column;
    }
    .bheader-subtitle {
      width: 90%;
      padding-top: 30px;
      text-align: center;
    }
    @media screen and (max-width: 450px) {
      .recent-blog-img {
        display: none;
      }
      .blog-posts {
        width: 95%;
      }
      .main-post {
        height: 580px;
      }
      .blog-title {
        height: 100px;
        overflow: hidden;
      }

      .recent-post-details {
        justify-content: space-evenly;
      }

      @media screen and (max-width: 380px) {
        .recent-blog-title {
          display: flex;
          padding-left: 10px;
          padding-bottom: 10px;
        }

        .recent-blog-category ul {
          flex-direction: column;
        }

        .recent-post {
          height: 250px;
        }

        .blog-category ul {
          flex-direction: column;
        }
        .blog-title h1 {
          font-size: 25px;
        }
        .blog-title {
          height: 100px;
        }

        .blog-title h1 {
          font-size: 25px !important;
        }
      }
    }
  }
}

/**contact**/

.contact-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.contact-heading2,
.project-tiGradiant2 {
  font-size: 72px;
}

.contact-heading-1 {
  justify-content: center;
  display: flex;
}

.project-tiGradiant2 {
  margin-left: 20px;
  background-clip: text;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    #bd10c3,
    #cd1590 28%,
    #d2177e 56%,
    hsl(0, 67%, 80%)
  );
}

.contact-self-intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.contact-me-button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white !important;
}

@media screen and (max-width: 870px) {
  .contact-heading2,
  .project-tiGradiant2 {
    font-size: 40px;
  }
  @media screen and (max-width: 560px) {
    .contact-heading2,
    .project-tiGradiant2 {
      font-size: 30px;
    }

    @media screen and (max-width: 355px) {
      .contact-heading2,
      .project-tiGradiant2 {
        font-size: 20px;
      }
    }
  }
}

/* Empty place holder styles */

.item-empty {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

